html{
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}
body{
    padding: 0%;
    margin: 0%;
}

#cabesero{
    height: 250px;
    padding: 0%;
    margin: 0%;
    background: url(../assets/img/fondo.jpg);
}

#cabesero h1{
    padding-top: 8%;
    margin: auto;
    text-align: center;
    font-size: xx-large;
    color: white;
}