* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    height: 10%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-shadow: 0 0 10px #000;
}

section.todo-container {
    height: 10%;
    background-color: #758d28;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

section.todo-container input {
    width: 60%;
    padding: 0.5rem;
    border-radius: 25px;
    border: 1px solid #ccc;
}

section.todo-container button {
    padding: 0.5rem 1rem;
    border-radius: 25px;
    background-color: aqua;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #0056b3;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.add-btn:active {
    background-color: #003d82;
    /* Un tono m치s oscuro para indicar la acci칩n de clic */
    color: #fff;
    transition: 0.1s ease-in-out;
    /* Transici칩n r치pida para el clic */
}


#todo-list-container {
    flex: 1;
    /* Ocupa el espacio restante */
    background-color: #27a43a;
    padding: 1rem;
    overflow-y: auto;
}

.todo-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-list span {
    flex: 1;
    margin-left: 1rem;
}

.todo-checkbox {
    margin-right: 1rem;
}

.delete-btn,
.done-btn {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    padding: 2px;


}

.delete-btn {
    color: red;
    background-color: rgb(124, 159, 229);
}

.delete-btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
}

.delete-btn:active {
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
}

.done-btn {
    color: green;
    background-color: rgb(30, 137, 203);
}

.done-btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 255, 0);
    border-radius: 5px;
}

.done-btn:active {
    color: rgb(0, 255, 0);
    background-color: rgb(255, 255, 255);
}

footer {
    height: 5%;
    background-color: aquamarine;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
}